<script lang="ts">
	import { personsService } from './person.service';

	const persons$ = personsService.persons$;
</script>

{#each $persons$ as person}
<div>
	<span>{person.fullName}</span>
	<button on:click={() => personsService.delete(person.id)}>УДОЛИТЬ</button>
</div>
{/each}
